#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 30%; 
	float: left;
}

#sortable li { margin: 5px 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; width: 25%; min-width: 150px;}
#sortable h2 { margin-left: 15px;, margin-bottom: 15px;}
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#repo-contents {
	float: left;
	width: 70%;
}

.container {
	padding-right: 50px;
}

li {
	list-style-type: none;
}

li label {
	margin-left: 10px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
